doctype
html
  head
    meta(charset='utf=8')
    title= title
    link(href="public/css/main.css" ,rel="stylesheet")
    block css
  body(style="height:100%;" onselectstart="return false")
    include ./nav.pug
    block content


