
/*图片字体*/

@import "../../font/font-awesome/css/font-awesome.min.css";
a {
    text-decoration: none;
    transition: .5s;
    &:visited {
        text-decoration: none;
    }
    &:focus{
        outline: none;
    }
}

#addButton {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 20px;
    z-index: 1000;
    background-image: url('/public/imgs/decorate/add.png');
    background-size: 100%;
    opacity: 1;
    box-shadow: #e74c3c 0 0 10px;
    transform: rotate(0);
    transition: transform ease-out .35s;
    border: none;
    margin-top: 10px;
}

#rightNav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 290px;
    padding: 100px 40px;
    transition: .5s;
    z-index: 90;
    background-color: #fff;
    color: #fff;
    transform: translateX(290px);
    .fun:hover {
        outline: none;
        text-decoration: none;
        color: #2A93B1;
    }
    .fun {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        font-size: 18px;
        color: #444;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        a {
            color: #444;
        }
    }
    li.active a {
        color: #2A93B1 !important;
    }
}

.showNav {
    transform: translateX(0px) !important;
}

#github {
    font-family: FontAwesome, serif;
    display: inline-block;
    // font-size: 1.35em;
    text-align: center;
    color: #333;
    a {
        margin-left: 20px;
        font-size: 18px;
    }
}