doctype
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet" href="/public/css/bootstrap.min.css")
        style.
            h1{
                text-align:center;
            }
            #password{
                margin-bottom:30px;
            }
            .main{
                margin-top:100px;
            }
    body
        .container.main
            .row
                #login.col-sm-6.col-sm-offset-3
                    form(action="/login" method="post")
                        .form-group
                            h1 管理员登录
                            input(type="hidden" name="_csrf" value=csrf)
                            input#password.form-control(type="password" name="password" placeholder="password" )
                            button.col-sm-4.col-sm-offset-4.btn.btn-success(type="submit") 登录
        if err == 0
            script.
                alert("密码错误");
        else if err == 1
            script.
                alert("请先登录");


